.container{
   width: 1000px;
   margin: auto;
}

.logo img{
    width: 250px;
    height: 200px;
}

.menu{
    margin-top: 145px;
}

.menu a{
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-bottom: 5px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color:black;
    border:1px solid black #ccc;
}